@use 'sass:map';
@use '../utiles/maps' as mapa;
@use '../utiles/mixin';

main{
    section{
        .imagen-de-fondo{
            background-image: url(../img/local.jpg);
            background-size: cover;
            background-repeat: no-repeat; 
            background-position: center; 
            width: 100%;
            height: 100%;
            max-height: 500px;
            min-height: 100px;
        }

        .texto{
            color: map.get(mapa.$coloreselementos, color-textonosotros);
            font-size: map.get(mapa.$tamanioletras, fontsize-nosotros); 
            margin: 5px;
            @include mixin.margin(5px,5px,5px,5px);
            text-align: center;
            padding: auto;
        }
    }

    .nosotros{ /*aggrego una gradiantes que lo coloque en parcial maps*/
        background: map.get(mapa.$coloreselementos, color-imagen-nosotros);
        @include mixin.margin(10px, 15px, 10px, 15px);
    
        img{/*aggrego una transicion*/
            position: relative;
            overflow: hidden;
            transition: transform 3s ease;
        }
    }

    .nosotros:hover{
        cursor: pointer;
    }

    .nosotros:hover img{
        cursor: pointer;
        transform: scale(1.05);
        font-size: calc(1vw + 1vh);
    }

    .nosotros img:hover::after{
        transform: scale(1.0);
    }

}


