/* Media query para computadoras de escritorio */

@media (max-width: 1220) {
    body {
        padding: 20px;
    }
    header, main, footer {
        justify-content: space-between;
        padding: 15px;
    }
}


/* Media query para tablet*/
@media (max-width: 720px){
    body{
        padding: 20px;
    }
    header, main, footer {
        padding: 8x;
        text-align: left;
    }
}

/* Media query para celular para que se adapte mejor amplie el max*/
@media (max-width: 676px){ 
    header .hamburguesa{
        display: block;
    }
    header nav{
        display: none;
    }
    main{
        text-align: left;
        .seccion-principal{
            padding: 0;
            .banner-format {
                .texto-superpuesto h3{
                    width: 100%;
                }
            }
        }
        .container {
            div {
            padding: 0;
            }
        }
    }

    footer {
        text-align: left;
        padding: 0;

    }

}



